<div id="actor-list-row" >
    <ul>
        <li style="vertical-align: middle;" ng-repeat="actor in $ctrl.actors | orderBy:actor.name">

            <a href="/#!/actor/{{ actor.id }}">

                <img ng-src="{{ actor.thumbnail }}"
                     alt="{{ actor.name }}"
                     style="width: 150px; vertical-align: middle;"/>
            </a>
            <div id="actor-name-text" style="vertical-align: middle;">
                <h4><a href="/#!/actor/{{ actor.id }}">[{{$index + 1}}) {{ actor.name }}</a>
                            <span
                                    ng-if="!$ctrl.mainPage" ng-click="$ctrl.removeActorFromScene(actor)"
                                    class="glyphicon glyphicon-remove"
                                    uib-popover="Remove Actor from current scene." popover-trigger="mouseenter">

                            </span>
                            <span ng-if="$ctrl.mainPage" ng-click="$ctrl.deleteActor(actor)"
                                  class="glyphicon glyphicon-trash on-hover-red-cursor-pointer"
                                  uib-popover-html="'<strong>Delete</strong> actor from database!'"
                                  popover-trigger="mouseenter">

                            </span></h4>
            </div>



        </li>
    </ul>

</div>