<h4>
    {{ actor.name }}
</h4>

<ul>
    <li ng-if="actor.rating && actor.rating > 0">
        Rating <strong>{{ actor.rating }}</strong>
    </li>
    <li ng-if="actor.ethnicity">
        Ethnicity <strong>{{ actor.ethnicity }}</strong>
    </li>
    <li  ng-if="actor.weight && actor.weight > 0">
        Weight <strong>{{ actor.weight }}</strong> Kg
    </li>
    <li ng-if="actor.height && actor.height > 0">
        Height <strong> {{ actor.height }}</strong> cm
    </li>
    <li ng-if="actor.measurements">
        Measurements <strong>{{ actor.measurements }}</strong>
    </li>
    <li ng-if="actor.country_of_origin">
        Country Of Origin <strong>{{ actor.country_of_origin }}</strong>
    </li>

</ul>

