videos/static/* linguist-vendored
# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Source files
# ============
*.php text
*.css text diff=css
*.js text diff=javascript
*.json text diff=json
*.htm text diff=html
*.html text diff=html
*.xml text diff=xml
*.txt text diff=astextplain
*.ini text diff=inifile
*.py text diff=python
*.sql text diff=sqlscript
*.sh text diff=shellscript
*.bat text diff=batchfile
*.ps1 text diff=powershell
bower.* text diff=bower
angular-*.* text diff=angular

# Binary files
# ============
*.db binary
*.p binary
*.pkl binary
*.pyc binary
*.pyd binary
*.pyo binary
*.sqlite3 binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.pyc binary