altgraph==0.17
asgiref==3.2.10
beautifulsoup4>=4.5.0
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama>=0.4.3
cryptography>=3.0
DateTime>=4.3
dj-static==0.0.6
Django==3.0.7
django-autocomplete-light==3.5.1
django-extensions==2.2.9
django-js-asset==1.2.2
django-mptt==0.11.0
djangorestframework==3.11.0
dload>=0.6
future>=0.18.2
html5lib>=1.0.1
idna>=2.7
importlib-metadata==1.7.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy>=1.14.4
parsedatetime>=2.6
pefile==2019.4.18
Pillow>=7.1.2
Pillow-PIL>=0.1.dev0
psutil>=5.7.2
pypiwin32>=223; platform_system == "Windows"
python-dateutil>=2.5.3
pytz>=2020.1
pywin32>=227; platform_system == "Windows"
pywin32-ctypes>=0.2.0; platform_system == "Windows"
PyYAML~=5.3.1
requests==2.20.0
selenium>=3.141.0
six>=1.15.0
soupsieve>=2.0.1
sqlparse>=0.3.1
static-ranges>=0.2.0
static3>=0.7.0
texttable>=1.6.2
tmdbsimple==2.2.0
urllib3>=1.24.3
waitress==1.4.4
webencodings>=0.5.1
zipp>=3.1.0
zope.interface>=5.1.0
