beautifulsoup4==4.5.0
Django==1.11.29
django-autocomplete-light==3.1.6
django-extensions==2.1.5
django-mptt==0.9.1
djangorestframework==3.9.1
pypiwin32>=223
python-dateutil==2.5.3
pywin32>=227
pywin32-ctypes==0.2.0
requests==2.20.0
tmdbsimple==2.2.0