<style ng-if="$ctrl.actorTag.thumbnail">
body {
  background-image: linear-gradient(to top, rgba(75, 75, 75, 0.9), rgba(50, 50, 50, 0.95)),
  url('media/tags/actor/{{$ctrl.actorTag.id}}/tagimg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.9;
}
</style>
<uib-alert ng-repeat="alert in $ctrl.alerts" class="enter" type="{{ alert.type }}" close="$ctrl.closeAlert($index)"
           dismiss-on-timeout="{{ alert.timeout }}">{{ alert.msg }}
</uib-alert>
<div ng-if="$ctrl.actorTag.thumbnail" align="left" style="position: absolute; z-index: 9; overflow; left: 64; top: 32;"><img style="max-width: 320px; max-height: 220px; height: auto; width: auto; cursor:default; " class="sceneactorthumb img-responsive shadow-2" ng-src="{{$ctrl.actorTag.thumbnail}}" onError=null;this.src="media/images/blank.png";this.style="width:0px;"> <!--{{$ctrl.website.thumbnail}}--></div>

<h1 align="center">
    <a href="#" editable-text="$ctrl.actorTag.name"
       onaftersave="$ctrl.update()" style="cursor:text">
        {{ $ctrl.actorTag.name || 'NA' }}
    </a>
</h1>
<div align="center">
<h2 >
    <uib-rating ng-model="$ctrl.actorTag.rating" max="10" read-only="isReadonly" on-hover="hoveringOver(value)"
                on-leave="overStar = null" titles="['one','two','three']"
                aria-labelledby="default-rating" ng-change="$ctrl.update()"></uib-rating>
    </h2>
    <button type="button" ng-click="$ctrl.scanTag()" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus"></span><small> Get tag info</small>
    </button>
    <input type="checkbox" ng-model="$ctrl.forceScan"
           uib-popover-html="'Force the scan, override existing values'"
           popover-trigger="mouseenter" popover-placement="top"> Force
   <h3>This tag is used {{$ctrl.actorTag.actors.length}} times </h3>


    	    <label
            uib-popover-html="'The exclusions list prevent any words to be auto-tagged. You can specify multiple exclusions by separating them with a comma.'"
            popover-trigger="mouseenter" popover-placement="right">
    Scene Tag Exclusions:
    <a href="#" editable-textarea="$ctrl.actorTag.exclusions" e-rows="5" e-cols="100"
       onaftersave="$ctrl.update()">
        {{ $ctrl.actorTag.exclusions || 'no exclusions' }}
    </a>
    </label>
</div>


<p>{{$ctrl.actorTag.description}}</p>

<section-list-wrapper main-page="false" section-type="'ActorList'"></section-list-wrapper>



