<uib-alert ng-repeat="alert in $ctrl.alerts" class="enter" type="{{ alert.type }}" close="$ctrl.closeAlert($index)"
           dismiss-on-timeout="{{ alert.timeout }}">{{ alert.msg }}
</uib-alert>

<div class="container-fluid">
<h3>Settings</h3>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#paths" aria-expanded="false" aria-controls="paths">YAPO URL and VLC path</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#tpdb" aria-expanded="true" aria-controls="tpdb">TpDB scanning</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#scrapeclean" aria-expanded="true" aria-controls="scrapeclean">Scraping, dupecheck and cleaning</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#rescan" aria-expanded="false" aria-controls="rescan">Folder re-scanning</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="paths tpdb scrapeclean rescan">Toggle all</button>
</p>
    <div class="collapse multi-collapse" id="paths">
      <div class="card card-body toggle">
    <h4>YAPO URL and VLC path</h4>
          <div class="row">
              <div class="col-lg-5">
    <label>URL that YAPO should open on startup (blank if you don't wish your browser to open automatically)</label>
    <input class="form-control" id="inputdefault" type="text"
    ng-model="$ctrl.yapoURL">
    <button style="color: #33ccff;" type="button" ng-click="$ctrl.updateYAPOurl()" class="btn btn-default btn-sm"
            uib-popover-html="'If this is a conventional URL (ip.ip.ip.ip:port or host:port), YAPO will open this URL in your default browser on startup. You can edit the value (yapo_url) manually in the settings.yml file which is in the config directory (/config)'"
            popover-trigger="mouseenter" popover-placement="right-top"

<span style="width:10%" class="glyphicon glyphicon-cog"></span> Set YAPO URL
    </button>
              </div>
              <div class="col-lg-1"></div>
          <div class="col-lg-5">
    <label>Path to VLC player (Windows only. Always use / instead of \ in the path)</label>
    <input class="form-control" id="inputdefault" type="text"
    ng-model="$ctrl.pathToVLC">
    <button style="color: #33ccff;" type="button" ng-click="$ctrl.updateVlcPath()" class="btn btn-default btn-sm"
            uib-popover-html="'Sets YAPO\'s VLC path to the path in the text input. Only for Windows, as we run vlc without specifying path on Linux. Replace any backslash in the path with a forward slash, otherwise it will break YAPO. You can edit the value (yapo_url) manually in the settings.yml file which is in the config directory (/config)'"
            popover-trigger="mouseenter" popover-placement="right-top"
    
        <span style="width:10%" class="glyphicon glyphicon-cog"></span> Set VLC Path
    </button>
          </div>
      </div>
            <div class="divider"></div>
      </div>
    </div>

    <div class="collapse multi-collapse in" id="tpdb">
      <div class="card card-body">
          <h4>TpDB scanning</h4><p>You must reload to see the current variables. <b>Most of these are not implemented yet</b>.</p>

    <input type="checkbox" ng-model="$ctrl.tpdb_enabled" ng-change="getdetails()"
        uib-popover-html="'Enable the TpDB (metadataapi.net) scanning functions'"
        popover-trigger="mouseenter" popover-placement="top"> Enable TpDB functionality

    <span style="margin-right: 10px; margin-left: 8px; border-left: 2px dotted #aaaaaa; transform: translate(-50%);"></span>

    <input type="checkbox" ng-model="$ctrl.tpdb_autorename"
    uib-popover-html="'Will automatically change scene names to the \'website - actor(s) - title\' naming convention. The actual filename will be untouched. A tag will be added to the scene (_tpdb-sure or _tpdb_unsure) depending on the quality of the result.'"
    popover-trigger="mouseenter" popover-placement="top"> Automatically rename scenes

            <div class="divider"></div>
Enable registration of:&nbsp;&nbsp;

    <input type="checkbox" ng-model="$ctrl.tpdb_websites"
    uib-popover-html="'When YAPO discovers a new website on TpDB, then add it'"
    popover-trigger="mouseenter" popover-placement="top"> Websites


    <input type="checkbox" ng-model="$ctrl.tpdb_website_logos"
        uib-popover-html="'When YAPO discovers a new website, enable downloading of a website logo'"
        popover-trigger="mouseenter" popover-placement="top"> Website logos

    <input type="checkbox" ng-model="$ctrl.tpdb_actors"
        uib-popover-html="'When YAPO recognizes an actor that YAPO doesn\'t know (only females), it will register the information TpDB has on the actor, and then initiate a TMDB/Freeones scrape of the actor. This way, any profile photo from TMDB will take precedence over any other photos.'"
        popover-trigger="mouseenter" popover-placement="top"> Actors

    <input type="checkbox" ng-model="$ctrl.tpdb_photos"
        uib-popover-html="'During auto-addition, also try to get actor photos (they\'re not as good as those TMDB provide, so if a photo already exists, it will not be saved)'"
        popover-trigger="mouseenter" popover-placement="top"> Actor photos

              <span style="margin-right: 10px; margin-left: 8px; border-left: 2px dotted #aaaaaa; transform: translate(-50%);"></span>

          <label># tags to auto-add</label>
    <select ng-model="$ctrl.tpdb_tags">
        <option>0</option>
        <option>5</option>
        <option>10</option>
        <option>100</option>

    </select>

    <span style="margin-right: 10px; margin-left: 8px; border-left: 2px dotted #aaaaaa; transform: translate(-50%);"></span>


    <button style="color: #33ccff;" type="button" ng-click="$ctrl.TpDB()"" class="btn btn-default btn-sm"
        uib-popover-html="'Save these settings'"
        popover-trigger="mouseenter" popover-placement="right-top"

    <span style="width:10%" class="glyphicon glyphicon-cog"></span> Save TpDB Settings
    </button>

    <span style="margin-right: 10px; margin-left: 8px; border-left: 2px dotted #aaaaaa; transform: translate(-50%);"></span>

    <button type="button" ng-click="$ctrl.tpdb_scan_all()" class="btn btn-default btn-sm"
        uib-popover-html="'Parse all scenes without a \'TpDB: Scanned\' tag and ask TpDB for information.'" popover-trigger="mouseenter" popover-placement="right-top"
    <span class="glyphicon glyphicon-tag"></span> Scan all scenes
    </button>
    <input type="checkbox" ng-model="$ctrl.tpdb_force"
           uib-popover-html="'Override the \'TpDB: Scanned\' tag when scanning with TpDB'"
           popover-trigger="mouseenter" popover-placement="top"> Force
  <div class="divider"></div>
      </div>
    </div>


    <div class="collapse multi-collapse in" id="scrapeclean">
      <div class="card card-body">
    <h4>Scraping, dupecheck and cleaning</h4>
    <button type="button" ng-click="$ctrl.scrapAllActor()" class="btn btn-default btn-sm"
            uib-popover-html="'Scrapes <strong>all</strong> previously unscraped actors with the TMDb and Freeones scrapers.'"
            popover-trigger="mouseenter" popover-placement="right-top">
    <span class="glyphicon glyphicon-user"></span> Scrape All Actors
    </button>
    <input type="checkbox" ng-model="$ctrl.forceScrape"
    uib-popover-html="'Override existing values whien scraping with selected scraper'"
    popover-trigger="mouseenter" popover-placement="top"> Force
	<span style="margin-right: 10px; margin-left: 8px; border-left: 2px dotted #aaaaaa; transform: translate(-50%);"></span>
    <button type="button" ng-click="$ctrl.tagAllScenes()" class="btn btn-default btn-sm"
            uib-popover-html="'Checks all scenes in the database against all known Tags, Websites and Actors and adds any new tags to the scenes.'"
            popover-trigger="mouseenter" popover-placement="right-top"
    >
    <span class="glyphicon glyphicon-tag"
    ></span> Tag New Scenes
    </button>
    <!--<label
            uib-popover-html="'If checked, will ignore the last <b>Tag All Scenes</b> lookup date and will search for all Tags, Actors and Websites in all the scenes
    as though they were never searched before.'"
            popover-trigger="mouseenter" popover-placement="right-top"
    >
        Ignore Last Lookup?

        <input type="checkbox" ng-model="$ctrl.ignore_last_lookup">
    </label>-->
	
	    <button type="button" ng-click="$ctrl.tagAllScenesIgnore()" class="btn btn-default btn-sm"
            uib-popover-html="'Checks all scenes in the database against all known Tags, Websites and Actors and adds all tags.<br>Will search for all  <b>Tag All Scenes</b>  Tags, Actors and Websites in all the scenes
    as though they were never searched before.'"
            popover-trigger="mouseenter" popover-placement="right-top"
    >
    <span class="glyphicon glyphicon-tag"
    ></span> Force Retag All Scenes
    </button>
	
	<span style="margin-right: 10px; margin-left: 8px; border-left: 2px dotted #aaaaaa; transform: translate(-50%);"></span>
    <button type="button" ng-click="$ctrl.checkDupe()" class="btn btn-default btn-sm"
            uib-popover-html="'Checks for duplicate files (filename as well as hashes). THIS TAKES TIME. Check the console for output.'"
            popover-trigger="mouseenter" popover-placement="right-top">
    <span class="glyphicon glyphicon-flash"></span> Check Duplicates
    </button>

    <button type="button" ng-click="$ctrl.cleanDatabase()" class="btn btn-default btn-sm"
            uib-popover-html="'Checks all scenes and if a scene has been removed or if the file for the scene no longer exists on disk, deletes the scene from the database
        (and also deletes screenshots and video samples for the scene). As well, also cleans up actors no longer in the database and removes aliases without association with actors.)'"
            popover-trigger="mouseenter" popover-placement="right-top"
    >
    <span class="glyphicon glyphicon-flash"

    ></span> Clean Database
    </button>

	<span style="margin-right: 10px; margin-left: 8px; border-left: 2px dotted #aaaaaa; transform: translate(-50%);"></span>

    <label>Set Items Per page:</label>
    <select ng-model="$ctrl.itemsPerPage" ng-change="$ctrl.changeNumberOfItemsPerPage()">
        <option> 25</option>
        <option> 50</option>
        <option> 100</option>
        <option> 150</option>
        <option> 200</option>
        <option> 250</option>
        <option> 500</option>
    </select>

          <div class="divider"></div>
    </div></div>

    <div class="collapse multi-collapse" id="rescan">
      <div class="card card-body">

<h4>Folder re-scanning</h4>
<strong>Rescan all root media paths:</strong>
<button
        ng-click="$ctrl.rescanFolders('')"
        class="btn btn-success btn-sm"
        popover-trigger="mouseenter"
        uib-popover-html="'Rescan all folders in list for new scenes.'"
        popover-append-to-body="true"
        popover-placement="top"
        type="button">
    <span class="glyphicon glyphicon-refresh"></span>
</button>
<br>
<strong>Rescan specific root media path:</strong>
<div style="position: relative; left: 16px; line-height: 0.5 !important;">
    <table class="table-striped table-hover thin" style="line-height: 0.5 !important;">
        <tbody class="">
        <tr ng-repeat="folder in $ctrl.mediaRootFolders | orderBy : 'name'">
            <td>
                {{ folder.name }}
            </td>
            <td>
                <button
                        ng-click="$ctrl.rescanFolders(folder)"
                        class="btn btn-success btn-xs vertically-centered"
                        popover-trigger="mouseenter"
                        uib-popover-html="'Rescan this folder for new scenes.'"
                        popover-append-to-body="true"
                        popover-placement="top"
                        type="button">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </td>
            <td>
                <button
                        ng-click="$ctrl.removeFolderFromList(folder)"
                        class="btn btn-danger btn-xs vertically-centered"
                        popover-trigger="mouseenter"
                        uib-popover-html="'Remove Folder from this list. Applies to this list only, doesnt do anything else except removing the folder entry from this list.'"
                        popover-append-to-body="true"
                        popover-placement="top"
                        type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
      </div></div>