<pagination page-type="ActorAlias"></pagination>


<ul>
<li ng-repeat="alias in $ctrl.aliases"> {{ alias.name }} <span ng-click="$ctrl.deleteAlias(alias)"
                                                               class="glyphicon glyphicon-remove"></span>
    <span ng-if="$ctrl.isOneWord(alias)">
    <label class="switch" uib-popover-html="'If checked, this alias will be included in the autotagging process. By default one word names are excluded..</i>'"
                 popover-trigger="mouseenter" popover-placement="left-top">
            <input type="checkbox" ng-model="alias.is_exempt_from_one_word_search"
                   ng-change="$ctrl.updateActorAlias(alias)">
            <div class="slider round"

            ></div>
        </label>

    </span>
    <br>


</li>
</ul>
