
    #actor-male {
        background: blue;
        width: 200px;
        float: left;
    }

    /*#actor-female {*/
    /*background: red;*/
    /*width: 200px;*/
    /*float: left;*/
    /*}*/

    #actor-trans {
        background: yellow;
        width: 200px;
        float: left;
    }

    #actor-gender-none {
        width: 200px;
        float: left;
    }
