        ul#nav-bar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333337;
        }

        li#nav-bar-list-item {
            float: left;
        }

        li#nav-bar-list-item a, .dropbtn {
            display: inline-block;
            color: #3333aa;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li#nav-bar-list-item a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }

        li.dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #333337;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #333340
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
