<div>
    <label>Search Field:</label>
    <select ng-model="$ctrl.searchField" ng-change="$ctrl.searchTermChanged()">
        <option ng-repeat="(key,val) in $ctrl.searchInFields" value="{{ key }}">{{ val }}</option>
    </select>


    <input type="text" ng-model="$ctrl.searchTerm" ng-model-options="{debounce: 500}" ng-change="$ctrl.searchTermChanged()">

    <label>Order By:</label>
    <select ng-model="$ctrl.sortBy" ng-change="$ctrl.sortOrderChanged()">
        <option ng-repeat="(key,val) in $ctrl.orderFields" value="{{ key }}">{{ val }}</option>
    </select>

    <label>Runner UP</label>
    <input type="checkbox" ng-model="$ctrl.runnerUp" ng-change="$ctrl.runnerUpFilterChange()">

    <label>Missing Ethnicity</label>
    <input type="checkbox" ng-model="missingEthnicity">

    <div ng-if="$ctrl.sectionTypefunc('ActorList')">
        <label>Grid View</label>
        <input type="checkbox" ng-model="$ctrl.actorGridView" ng-change="$ctrl.saveGridView()">
    </div>

        <div ng-if="$ctrl.sectionTypefunc('SceneList')">
        <label>Grid View</label>
        <input type="checkbox" ng-model="$ctrl.sceneGridView" ng-change="$ctrl.saveGridView()">
    </div>


</div>

<actor-list main-page="$ctrl.mainPage"  ng-if="$ctrl.sectionTypefunc('ActorList')"></actor-list>

<scene-list main-page="$ctrl.mainPage" ng-if="$ctrl.sectionTypefunc('SceneList')"></scene-list>






<website-list main-page="$ctrl.mainPage" ng-if="$ctrl.sectionTypefunc('WebsiteList')"></website-list>

<actor-tag-list main-page="$ctrl.mainPage" ng-if="$ctrl.sectionTypefunc('ActorTagList')"></actor-tag-list>

<scene-tag-list main-page="$ctrl.mainPage" ng-if="$ctrl.sectionTypefunc('SceneTagList')"></scene-tag-list>


<db-folder-tree main-page="$ctrl.mainPage" route="$ctrl.routParam" ng-if="$ctrl.sectionTypefunc('DbFolder')"></db-folder-tree>



