<div class="modal-header">
    <h3 class="modal-title">{{ modelContent.name }}'s Profile Image</h3>
</div>
<div class="modal-body">
    <img ng-src="{{ modelContent.thumbnail }}" width="400px" class="img-responsive center-block"/>


    <div ng-controller="ImageCropperCtrl as ctrl">
        <input type="file" img-cropper-fileread image="cropper.sourceImage"/>

        <div>
            <canvas width="400" height="600" id="canvas" image-cropper image="cropper.sourceImage"
                    cropped-image="cropper.croppedImage" crop-width="200" crop-height="300" keep-aspect="true"
                    touch-radius="30" crop-area-bounds="bounds"></canvas>
        </div>
        <div>Cropped Image (Left: {{ bounds.left }} Right: {{ bounds.right }} Top: {{ bounds.top }}
            Bottom: {{ bounds.bottom }})
        </div>
        <div ng-show="cropper.croppedImage!=null"><img ng-src="{{ cropper.croppedImage }}"/></div>

        <div ng-controller="myCtrl">
            <!--
             <input type="file" file-model="myFile"/>
             -->
            <input type="file" file-model="myFile"/>

            <button ng-click="uploadFile('Actor')">upload me</button>
        </div>
    </div>

    <!-- Selected: <b>  {{selected.item }}</b> -->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button">Upload</button>
    <button class="btn btn-primary" type="button">Edit</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>