{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="yapoApp" lang="en">


<head>
    {% include 'videos/angular/index-head.html' %}
</head>


<body>

<nav-bar></nav-bar>

<br>
<br>
<br>
<div style="margin: 14px;">
    {% verbatim %}
    <div ng-view class="view-frame"></div>
    {% endverbatim %}
</div>
<script type="text/javascript">
$(document).ready(function() {
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
     event.preventDefault();
     $(this).ekkoLightbox();
  });
});
</script>

<script type="text/javascript">
function getAway() {
  // Get away right now
  window.open("http://weather.com", "_newtab");

}

$(function() {

  $("#get-away").on("click", function(e) {
    getAway();
  });

  $("#get-away a").on("click", function(e) {
    // allow the (?) link to work
    e.stopPropagation();
  });

  $(document).keyup(function(e) {
    if (e.keyCode == 27) { // escape key
      getAway();
    }
  });

});
</script>

</body>

</html>

