    		<div align="left" style="position: absolute; z-index: 9; overflow; left: 64; top: 32;"><img ng-if="$ctrl.website.thumbnail" style="max-width: 480px; max-height: 200px; height: auto; width: auto; cursor:default; border-style: none; border-bottom: none;" ng-src="{{$ctrl.website.thumbnail}}" onError=null;this.src="media/images/blank.png";this.style="width:0px;"> </div>
<div ng-if="image.is404">Uh oh!  Image 404'd.</div></center>

    <center><h1 align="center"><a href="#" editable-text="$ctrl.website.name"
       onaftersave="$ctrl.update()" style="cursor:text">
        {{ $ctrl.website.name || 'NA' }}</a></h1>

<div align="center">
    <h2>
        <uib-rating ng-model="$ctrl.website.rating" max="10" read-only="isReadonly" on-hover="hoveringOver(value)"
                    on-leave="overStar = null" titles="['one','two','three']"
                    aria-labelledby="default-rating" ng-change="$ctrl.update()"></uib-rating>
        <br>
        <h3>This website is used {{$ctrl.website.scenes.length}} times </h3>

    </h2>
    <small><label
            uib-popover-html="'Aliases that will be used when auto-tagging scenes. You can specify multiple aliases by separating them with a comma.
            Also &quot;.&quot; is used to represent any character so an alias such as &quot;P.O.V&quot; will match &quot;pov&quot;,&quot;p1o2v&quot;,&quot;po?v&quot; etc...'"
            popover-trigger="mouseenter" popover-placement="right">
        Website Aliases:
        <a href="#" editable-textarea="$ctrl.website.website_alias" e-rows="5" e-cols="100"
           onaftersave="$ctrl.update()">
            {{ $ctrl.website.website_alias || 'No aliases' }}
        </a>
    </label>
	<br>
	<label
            uib-popover-html="'The exclusions list prevent any words to trigger the website being tagged to a scene (fx the website Stepsiblings will be connected to every video on the website Stepsiblings Caught.<br>Using this field, you can enter &quot;stepsiblings&quot on the exclusion field for &quot;Stepsiblings Caught&quot; to avoid this. You can specify multiple exclusions by separating them with a comma.'"
            popover-trigger="mouseenter" popover-placement="right">
    Website Exclusions:
    <a href="#" editable-textarea="$ctrl.website.exclusions" e-rows="5" e-cols="100"
       onaftersave="$ctrl.update()">
        {{ $ctrl.website.exclusions || 'No exclusions' }}
    </a>
    </label>
        	<br>
    <label
            uib-popover-html="'Specify a non-standard file naming definition here if this website should use it's own format.<br>Refer to the description under &quot;renaming&quot; in the settings module.'"
            popover-trigger="mouseenter" popover-placement="right">
    File Renaming Definition:
    <a href="#" editable-textarea="$ctrl.website.filename_format" e-rows="1" e-cols="128"
       onaftersave="$ctrl.update()">
        {{ $ctrl.website.filename_format || 'Uses default format' }}
    </a>
    </label>
    <br></small>
    <label>
        Website Scene Tags:
    </label>
    <async-typeahead object="$ctrl.website.scene_tags"
                     object-type='scene_tags'
                     sending-object="$ctrl.scene"
                     sending-object-type='Website-Detail'
                     selected-object="$ctrl.selectedSceneTag = $event.selected"
    ></async-typeahead>

    <span ng-repeat="tag in $ctrl.website.scene_tags_with_names"> <a
            href="/#!/scene-tag/{{ tag.id }}">  {{ tag.name }}</a> <span
            class="glyphicon glyphicon-remove"
            ng-click="$ctrl.removeSceneTag(tag)"></span> {{$last ? '' : ', '}} </span>
    </span>

    <scene-tag-list pk="$ctrl.scene.scene_tags" scene="$ctrl.scene"></scene-tag-list>
</div>

<section-list-wrapper main-page="false" section-type="'SceneList'"></section-list-wrapper>
