<style>
body {
  background-image: linear-gradient(to bottom, rgba(20,20,20,0.9) 0%,rgba(20,20,20,0.5) 90%), url('media/tags/blonde.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.8;
}

</style>
<div align="left" style="position: absolute; z-index: 9; overflow; left: 64; top: 32;"><img style="max-width: 320px; max-height: 220px; height: auto; width: auto; cursor:default; border-style: none; border-bottom: none;" ng-src="media/tags/{{$ctrl.sceneTag.name | lowercase}}.jpg" onError=null;this.src="media/images/blank.png";this.style="width:0px;"> <!--{{$ctrl.website.thumbnail}}--></div>
<div ng-if="image.is404">Uh oh!  Image 404'd.</div></center>

<h1 align="center">
    <a href="#" editable-text="$ctrl.sceneTag.name"
       onaftersave="$ctrl.update()" style="cursor:text">
        {{ $ctrl.sceneTag.name || 'NA' }}
    </a>
</h1>
<div align="center">
<h2 >
    <uib-rating ng-model="$ctrl.sceneTag.rating" max="10" read-only="isReadonly" on-hover="hoveringOver(value)"
                on-leave="overStar = null" titles="['one','two','three']"
                aria-labelledby="default-rating" ng-change="$ctrl.update()"></uib-rating>
    <br>
   <h3>This tag is used {{$ctrl.sceneTag.scenes.length}} times </h3>

    </h2>
    <label
            uib-popover-html="'Aliases that will be used when auto-tagging scenes. You can specify multiple aliases by separating them with a comma.
            Also &quot;.&quot; is used to represent any character so an alias such as &quot;P.O.V&quot; will match &quot;pov&quot;,&quot;p1o2v&quot;,&quot;po?v&quot; etc...'"
            popover-trigger="mouseenter" popover-placement="right">
    Scene Tag Aliases:
    <a href="#" editable-textarea="$ctrl.sceneTag.scene_tag_alias" e-rows="5" e-cols="100"
       onaftersave="$ctrl.update()">
        {{ $ctrl.sceneTag.scene_tag_alias || 'no alias' }}
    </a>
    </label><br>
	    <label
            uib-popover-html="'The exclusions list prevent any words to be auto-tagged. You can specify multiple exclusions by separating them with a comma.'"
            popover-trigger="mouseenter" popover-placement="right">
    Scene Tag Exclusions:
    <a href="#" editable-textarea="$ctrl.sceneTag.exclusions" e-rows="5" e-cols="100"
       onaftersave="$ctrl.update()">
        {{ $ctrl.sceneTag.exclusions || 'no exclusions' }}
    </a>
    </label>
</div>


<section-list-wrapper main-page="false" section-type="'SceneList'"></section-list-wrapper>



