
<span>
<pagination page-type="'Scene'"></pagination>
</span>
        <button type="button" ng-click="$ctrl.multiTag()" class="btn btn-default btn-sm">
                            Tag Multiple Scenes
        </button>

                <button type="button" ng-if="$ctrl.tagMultiple" ng-click="$ctrl.selectAll()" class="btn btn-default btn-sm">
                            Select All
        </button>

        <button type="button" ng-if="$ctrl.tagMultiple" ng-click="$ctrl.selectNone()" class="btn btn-default btn-sm">
                            Select None
        </button>







<div id = big-scroll-item>
<table>
    <tr ng-repeat="scene in $ctrl.scenes">
        <td>
            <a href="/#!/scene/{{ scene.id }}">
                <img ng-src="{{ scene.thumbnail }}" class="thumb-wide"
                     alt="{{ scene.name }}"
                />
            </a>
        </td>
        <td>
            <h4>
            <span>
                <input ng-if="$ctrl.tagMultiple" type="checkbox" ng-model="scene.selected" ng-click="$ctrl.sceneSelectToggle(scene)">
                {{$index + 1}})
                <a href="/#!/scene/{{ scene.id }}">  {{ scene.name }}</a>

                            <span class="glyphicon glyphicon-play-circle on-hover-red-cursor-pointer"
                                  uib-popover-html="'Play scene.'"
                                  popover-trigger="mouseenter" popover-placement="right"
                                  ng-click="$ctrl.playScene(scene)"


                            ></span>

                <label class="switch"
                       uib-popover-html="'Toggle Runner Up.'"
                       popover-trigger="mouseenter" popover-placement="right">
                <input type="checkbox" ng-model="scene.is_runner_up" ng-change="$ctrl.sceneRunnerUpToggle(scene)">
                <div class="slider round"></div>
                </label>

            </span>



            </h4>






                        <span>
                            <uib-rating ng-model="scene.rating" max="10" read-only="isReadonly" on-hover="hoveringOver(value)"
                            on-leave="overStar = null" titles="['one','two','three']"
                            aria-labelledby="default-rating" ng-click="$ctrl.sceneRatingPatch(scene)"></uib-rating>
                            <br>
                            Websites:
                                <button class="btn btn-success btn-xs"
                                        popover-trigger="outsideClick"
                                        uib-popover-template="'static/partials/popover-templates/popover-website.template.html'"
                                        popover-append-to-body="true"
                                        popover-placement="right"
                                        type="button" class="btn btn-success">
                                    <span

                                            class="glyphicon glyphicon-plus"></span>
                                </button>
                            <br>

                            <span ng-repeat="site in scene.websites"> <a
                                    href="/#!/website/{{ site.id }}">  {{ site.name }}</a> <span
                                    class="glyphicon glyphicon-remove"
                                    ng-click="$ctrl.removeItem(scene,site,'websites')"></span> {{$last ? '' : ', '}} </span>

                            </span>

            <br>
                        <span>Tags:
                            <button class="btn btn-success btn-xs"
                                    popover-trigger="outsideClick"
                                    uib-popover-template="'static/partials/popover-templates/popover-tag.template.html'"
                                    popover-append-to-body="true"
                                    popover-placement="right"
                                    type="button" class="btn btn-success"
                            >
                                    <span

                                            class="glyphicon glyphicon-plus"></span>
                                </button>
                            <br>
                            <span ng-repeat="tag in scene.scene_tags"> <a
                                    href="/#!/scene-tag/{{ tag.id }}">  {{ tag.name }}</a> <span
                                    class="glyphicon glyphicon-remove"
                                    ng-click="$ctrl.removeItem(scene,tag,'scene_tags')"></span> {{$last ? '' : ', '}} </span>
                            </span>
            <br>
                        <span>Performers:
                             <button class="btn btn-success btn-xs"
                                     popover-trigger="outsideClick"
                                     uib-popover-template="'static/partials/popover-templates/popover-actor.template.html'"
                                     popover-append-to-body="true"
                                     popover-placement="right"
                                     type="button">
                                    <span

                                            class="glyphicon glyphicon-plus"></span>
                                </button>
                            <br>
                            <span ng-repeat="actor in scene.actors">  <a
                                    href="/#!/actor/{{ actor.id }}">  {{ actor.name }}</a> <span
                                    class="glyphicon glyphicon-remove"
                                    ng-click="$ctrl.removeItem(scene,actor,'actors')"></span> {{$last ? '' : ', '}} </span>
                            </span>


        </td>
    </tr>
</table>
</div>
