html {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    padding-top: 20px;
	font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 15px;
}

table.thin tr td{
   height: 20px;
   padding: 4px;
}

.vertically-centered {
    position: relative;
    top:50%;
    transform: translateY(-15%);
}

h1, h2, h3, h4, h5, a {
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;

}

div.a, td.a, li.a, a {
	text-color: sea blue;
}

#scene-info {
    text-indent: 0px;
    margin-left: 0px;
}

#scene-info ul, li {
    list-style-type: none;
    text-indent: 0px;
    margin-left: 0px;
    text-align: justify;
}

.wrapper {
   position: relative;
}

.col-md-12 .row-fluid .col-md-3 .wrapper .glyphicon {
   position: absolute;
   top: 190px;
   right: -14px;
   text-shadow: 0 0 8px black;
}

.wrapper .glyphicon {
   position: absolute;
   top: 158px;
   right: 8px;
   text-shadow: 0 0 8px black;
}

.increase-popover-width  {
    max-width: 400px !important;
    width: 400px !important;
}

#actor-list-row{
    white-space: nowrap;
    list-style: none;
    vertical-align: middle;
}

.actor-thumb { border-radius: 16px; }


#actor-list-row ul{
    white-space: nowrap;
    list-style: none;
    align-content: center;
	vertical-align: middle;
    overflow-y: visible;
    float: left;
}
#actor-list-row li{
    display: inline-block;
    margin: 1em;
	vertical-align: middle;


}

#actor-list-grid img{
    border: solid #333337 2px;


}

#scene-list-grid img{
    border: solid #333337 2px;
    margin: 0.5em;


}

.actor-detail {

    clear: both;
    border-spacing: 0.2em;
    float: right;
    #width: 40%;
    margin: 8px;
    #background: #333337;

}

.actor-detail a {
    text-color: sea blue;
	
}

.actor-detail li {
    text-align: right;
    list-style-position: outside;
    list-style: none;

}

.actor-detail table,tr, th, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
}

.actor-detail th, td {
    padding: 15px;
}

.alright {
    text-align: right;
}

.alcenter{

    text-align: center;

}

.actor-dsc {
    margin: 50px;
    float: left;
}

.actors {
    list-style: none;
}

.actors li {
    clear: both;
    height: 114px;
    padding-top: 15px;
	vertical-align: middle;
}

.actor-list-row img { border-radius: 8x; }
.col-md-2 img { border-radius: 12px; border: 2px solid black;}
.col-md-2 h4 { text-align: center; -ms-transform: translateX(-18px); transform: translateX(-18px);}

.scenes {
    list-style: none;
}

.scenes li {
    clear: both;
    height: 250px;
    padding-top: 15px;
}

/* View: Phone detail */
.sample-video {
    /*background-color: white;*/
    /*border: 1px solid black;*/
    float: right;
    /*height: 400px;*/
    /*margin-bottom: 2em;*/
    margin-right: 3em;
    /*padding: 2em;*/
    /*width: 720px;*/
}

.actor-thumb {
    /*background-color: white;*/
    border: 2px solid black;
    border-radius: 16px;
    /*height: 400px;*/
    margin: auto;
    /*margin-bottom: 2em;*/
    /*margin-right: 3em;*/
    /*padding: 2em;*/
    margin-top: 1.0em;
    /*width: 400px;*/
    /*padding: 10px;*/
    /*float: left;*/
}

.dbFolders {
    border: 1px solid black;
    padding: 1em;
    background-color: #333337;
}

.scene-list {
    /*height: 1900px;*/
    /*border: 1px solid black;*/
    padding: 1em;
    margin-left: 3em;
    max-height: 60em;
    width: 85%;
    float: inherit;

    /*background-color: aquamarine;*/
}

.scene-info {

}

.actor-bio {
    /*border: 0.1em solid black;*/
    /*background: whitesmoke;*/
    /*margin: 2em;*/
    /*width: 35.5em;*/
    text-align: justify;
    /*overflow: scroll;*/
    /*float: right;*/
    /*padding: 1.1em;*/

    /*height: 20em;*/
}

/*.actor-thumbs {*/
/*list-style: none;*/
/*margin: 0;*/
/*}*/

.thumb {
    float: left;
    height: 100px;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    width: 100px;
}

.thumb img {
	border-radius: 6px;
    border: 1px solid black;
	vertical-align: middle;
}

.thumb-wide {
    float: left;
    /*height: 240px;*/
    /*padding-right: 1em;*/
    height: 180px;
    width: 320px;

    border: 0.2em solid black;
}

.sceneactorthumb {
	border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.6);
	vertical-align: middle;
    width: 100px;
}

.tagthumb {
	border-radius: 8px;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.6);
    border: 1px solid black;
	vertical-align: middle;
    width: 100px;
}

.on-hover-red-cursor-pointer:hover {
    color: red;
    cursor: pointer;
}

.on-hover-red-cursor-pointer a {
    /*text-decoration: none;*/
    color: 333337;
}

.on-hover-red-cursor-pointer a:link {
    text-decoration: none;

}

.on-hover-red-cursor-pointer a:hover {
    color: red;

}





.glyphicon-remove:hover {
    color: red;
    cursor: pointer;
}

.glyphicon-plus:hover {
    color: green;
    cursor: hand;
}

#right {
    overflow-y: scroll;
}

#big-scroll-item {
    height: 55em;
    overflow-y: scroll;
}

/* The square +/- buttons */
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-bottom: 0.5em;
}

/*toggle button*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    /*left: 1em;*/
    bottom: -0.3em;
    margin-left: 0em;
}

.switch-header {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    /*left: 1em;*/
    bottom: -0.55em;
    margin-left: 0em;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

.hidden-box {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8a8a8a;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2.5px;
    background-color: #666666;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #aaaaaa;
}

input:focus + .slider {
    box-shadow: 0 0 1px #555555;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.video-box {
    float: right;
}