<uib-alert ng-repeat="alert in $ctrl.alerts" class="enter" type="{{ alert.type }}" close="$ctrl.closeAlert($index)"
           dismiss-on-timeout="{{ alert.timeout }}">{{ alert.msg }}</uib-alert>
<h1 align="center">
    <a href="#" editable-text="$ctrl.actor.name"
       onaftersave="$root.patchEntity('actor', $ctrl.actor.id, 'name', $ctrl.actor.name, 'add',
                                              false, false, null)" style="cursor:text">
        {{ $ctrl.actor.name || 'NA' }}
    </a>
</h1>
<h2 align="center">
    <uib-rating ng-model="$ctrl.actor.rating" max="10" read-only="isReadonly" on-hover="hoveringOver(value)"
                on-leave="overStar = null" titles="['one','two','three']"
                aria-labelledby="default-rating"
                ng-change="$root.patchEntity('actor', $ctrl.actor.id, 'rating', $ctrl.actor.rating, 'add',
                                              false, false, null)">

    </uib-rating>
    <br>
    <button type="button" ng-click="$ctrl.hideDetailClick()" class="btn btn-default btn-sm">
        {{ $ctrl.hideDetailButtomLable }}
    </button>
</h2>

<ul>
    <li><span>Favorite:
        <label class="switch-header">
  <input type="checkbox" class="hidden-box" ng-model="$ctrl.actor.is_fav"
         ng-change="$root.patchEntity('actor', $ctrl.actor.id, 'is_fav', $ctrl.actor.is_fav, 'add',
                                              false, false, null)">
  <div class="slider round"></div></span>
        </label>

    </li>
    <li>Runner up:
        <label class="switch-header">
            <input type="checkbox" class="hidden-box" ng-model="$ctrl.actor.is_runner_up"
                   ng-change="$root.patchEntity('actor', $ctrl.actor.id, 'is_runner_up', $ctrl.actor.is_runner_up, 'add',
                                              false, false, null)">
            <div class="slider round"></div>
        </label>

    </li>
    <li>Allow one word name when auto-tagging:
        <label class="switch-header" uib-popover-html="'By default actors with a one word name (Ex: &quot;Stoya&quot; )
            are ignored when autotagging scenes. If checked this will allow this actor to be autotagged even though
            their name consists of one word only. <i>Use only on actors whose names are unique as not to cause incorrect tagging.</i>'"
               popover-trigger="mouseenter" popover-placement="right-top">
            <input type="checkbox" class="hidden-box" ng-model="$ctrl.actor.is_exempt_from_one_word_search"
                   ng-change="$root.patchEntity('actor', $ctrl.actor.id, 'is_exempt_from_one_word_search', $ctrl.actor.is_exempt_from_one_word_search, 'add',
                                              false, false, null)">
            <div class="slider round"

            ></div>
        </label>

    </li>
</ul>


<div class="row">
    <div ng-if="$ctrl.hideDetail" class="col-md-12 ">

        <h3>{{ $ctrl.actor.scenes.length }} scene(s) with {{ $ctrl.actor.name }}: </h3>

        <section-list-wrapper main-page="false" section-type="'SceneList'"></section-list-wrapper>


    </div>
    <div ng-if="!$ctrl.hideDetail" class="col-md-10 ">

        <h3>{{ $ctrl.actor.scenes.length }} scene(s) with {{ $ctrl.actor.name }}: </h3>

        <section-list-wrapper main-page="false" section-type="'SceneList'"></section-list-wrapper>


    </div>
    <div ng-if="!$ctrl.hideDetail" class="col-md-1 pull-right" style="position: relative; top: -135px;">

        <table valign="top" class="actor-detail" >
            <tr>
                <td colspan="2">


                    <div class="alcenter">Scrape from:<br>
<p align="right">
                        <button type="button" ng-click="$ctrl.scrapeActor('IMDB')" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus"></span><small> IMDB</small>
                        </button>

                        <button type="button" ng-click="$ctrl.scrapeActor('TMDb')" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus"></span><small> TMDb</small>
                        </button>

                        <button type="button" ng-click="$ctrl.scrapeActor('Freeones')"
                                class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus"></span><small> Freeones</small>
                        </button>
</p>
<p align="right"><input type="checkbox" ng-model="$ctrl.forceScrape"
                               uib-popover-html="'Override existing values while scraping with selected scraper'"
                               popover-trigger="mouseenter" popover-placement="top"> Force</p>

                    </div>
                    <detail-profile-image ng-if="$ctrl.updateImage" actor="$ctrl.actor"></detail-profile-image>


                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="actor-bio">
                        <a href="#" editable-textarea="$ctrl.actor.description" e-rows="5" e-cols="100"
                           onaftersave="$root.patchEntity('actor', $ctrl.actor.id, 'description', $ctrl.actor.description, 'add',
                                              false, false, null)">
                            {{ $ctrl.actor.description || 'no description' }}
                        </a>
                    </div>
                </td>


            </tr>

            <tr>
                <td colspan="1">
                    Date of Birth:<br>
                                    <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy"
                                   ng-model="$ctrl.birthdate"
                                   is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                                   close-text="Close" alt-input-formats="altInputFormats"
                                   ng-change="$ctrl.updateBirthday($ctrl.actor)"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>


                </td>
                <td align="right" valign="middle">
                        <span ng-if="$ctrl.actor != undefined && $ctrl.actor.date_of_birth != undefined">
                            ({{ $ctrl.howOld($ctrl.actor.date_of_birth)}} years old)
                        </span>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    Ethnicity:
                </td>
                <td class="alright">
                    <a href="#" editable-text="$ctrl.actor.ethnicity"
                       onaftersave="$root.patchEntity('actor', $ctrl.actor.id, 'ethnicity', $ctrl.actor.ethnicity, 'add',
                                              false, false, null)">
                        {{ $ctrl.actor.ethnicity || 'NA' }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Aliases:
                    <input type="text" name="name" ng-model="aliasToInsert"/>
                    <button type="button" ng-click="$ctrl.aliasInput(aliasToInsert)"
                            class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </td>
                <td>

                    <actor-alias-list pk="$ctrl.actor.actor_aliases"></actor-alias-list>
                </td>
            </tr>
            <tr>
                <td>
                    Tags:
                    <async-typeahead object="$ctrl.actor.actor_tags"
                                     object-type='actor_tags'
                                     sending-object="$ctrl.actor"
                                     sending-object-type='Actor'
                                     selected-object="$ctrl.selectedActorTag = $event.selected"
                    ></async-typeahead>
                </td>
                <td class="alright">
                    <ul class="tags">

                        <li ng-repeat="tag in $ctrl.actor.actor_tags">
                            <a href="/#!/actor-tag/{{ tag.id }}">{{ tag.name }} [{{ tag.usage_count }}]</a> <span
                                ng-click="$ctrl.removeItem(tag,'actor_tags')"
                                class="glyphicon glyphicon-remove"></span>



                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    Height:

                </td>
                <td class="alright">
                    <span>
                    <a href="#!" editable-text="$ctrl.actor.height"
                       onaftersave="$root.patchEntity('actor', $ctrl.actor.id, 'height', $ctrl.actor.height, 'add',
                                              false, false, null)">
                        {{ $ctrl.actor.height || 'NA' }} cm</a>
                    </span>
                </td>
            </tr>

            <tr>
                <td></td>
                <td class="alright">
                    <span ng-if="$ctrl.actor != undefined && $ctrl.actor.height != undefined">
                            ({{ $ctrl.heightConvertInches($ctrl.actor.height)['feet'] }} feet {{ $ctrl.heightConvertInches($ctrl.actor.height)['inches']}} inches)
                    </span>
                </td>
            </tr>


            <tr>
                <td valign="top">
                    Weight:

                </td>
                <td class="alright">
                    <span>
                    <a href="#!" editable-text="$ctrl.actor.weight"
                       onaftersave="$root.patchEntity('actor', $ctrl.actor.id, 'weight', $ctrl.actor.weight, 'add',
                                              false, false, null)">
                        {{ $ctrl.actor.weight || 'NA' }} Kg</a>
                     </span>
                </td>
            </tr>

            <tr>
                <td></td>
                <td class="alright">
                    <span ng-if="$ctrl.actor != undefined && $ctrl.actor.weight != undefined">
                            ({{ $ctrl.weightConvertPounds($ctrl.actor.weight)}} pounds)
                    </span>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    Measurements:

                </td>
                <td class="alright">
                    <span>
                    <a href="#" editable-text="$ctrl.actor.measurements"
                       onaftersave="$root.patchEntity('actor', $ctrl.actor.id, 'measurements', $ctrl.actor.measurements, 'add',
                                              false, false, null)">
                        {{ $ctrl.actor.measurements || 'NA' }}
                        </a>
                     </span>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    Gender:

                </td>
                <td class="alright">
                    <span>
                        <a href="#" editable-text="$ctrl.actor.gender"
                           onaftersave="$root.patchEntity('actor', $ctrl.actor.id, 'gender', $ctrl.actor.gender, 'add',
                                              false, false, null)">
                        {{ $ctrl.actor.gender || 'NA' }}
                        </a>

                    </span>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    Country Of Birth:

                </td>
                <td class="alright">
                    <span>
                       <a href="#" editable-text="$ctrl.actor.country_of_origin"
                          onaftersave="$root.patchEntity('actor', $ctrl.actor.id, 'country_of_origin', $ctrl.actor.country_of_origin, 'add',
                                              false, false, null)">
                           {{ $ctrl.actor.country_of_origin || 'NA' }}
                       </a>

                    </span>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    Tattoos:

                </td>
                <td class="alright">
                    <span>
                       <a href="#" editable-text="$ctrl.actor.tattoos"
                          onaftersave="$root.patchEntity('actor', $ctrl.actor.id, 'tattoos', $ctrl.actor.tattoos, 'add',
                                              false, false, null)">
                           {{ $ctrl.actor.tattoos || 'NA' }}
                       </a>

                    </span>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    Piercings:

                </td>
                <td class="alright">
                    <span>
                       <a href="#" editable-text="$ctrl.actor.piercings"
                          onaftersave="$root.patchEntity('actor', $ctrl.actor.id, 'piercings', $ctrl.actor.piercings, 'add',
                                              false, false, null)">
                           {{ $ctrl.actor.piercings || 'NA' }}
                       </a>

                    </span>
                </td>
            </tr>

            <tr>
                <td colspan="2" valign="top">
                    Websites:
                    <ul>

                        <li ng-if="$ctrl.StrSplit(0)">Official:<br> 
                        <span ng-if="$ctrl.StrSplit(0)"><b><a
                                href="{{ $ctrl.StrSplit(0) }}"
                                target="_blank">1</a></b></span>
                        <span ng-if="$ctrl.StrSplit(1)"> | <b><a
                                href="{{ $ctrl.StrSplit(1) }}"
                                target="_blank">2</a></b></span>
                        <span ng-if="$ctrl.StrSplit(2)"> | <b><a
                                href="{{ $ctrl.StrSplit(2) }}"
                                target="_blank">3</a></b></span>
                        <span ng-if="$ctrl.StrSplit(3)"> | <b><a
                                href="{{ $ctrl.StrSplit(3) }}"
                                target="_blank">4</a></b></span>
                        <span ng-if="$ctrl.StrSplit(4)"> | <b><a
                                href="{{ $ctrl.StrSplit(4) }}"
                                target="_blank">5</a></b></span>
                        <hr>
                        </li>
						

						
						
						<li><b>PROFILE PAGES</b></li>
                        <li ng-if="$ctrl.actor.tmdb_id"><a
                                href="https://www.themoviedb.org/person/{{ $ctrl.actor.tmdb_id }}"
                                target="_blank">TMDB Page</a></li>
                        </li>
                        <li ng-if="$ctrl.actor.imdb_id"><a
                                href="http://www.imdb.com/name/{{ $ctrl.actor.imdb_id }}"
                                target="_blank">IMDB Page</a>
                        </li>
						<li><a
                            title="Shows Lord of Porn profile page, if it exists" href="https://thelordofporn.com/pornstars/{{ $ctrl.actorNameDelimiter('-',false) }}"
                            target="_blank">Lord of Porn Page</a>
                        </li>						
						<li><a
                            title="Shows traxxx.me profile page, if it exists" href="https://www.traxxx.me/actor/{{ $ctrl.actorNameDelimiter('-',false) }}"
                            target="_blank">Traxxx.me Page</a>
                        </li>
						<li><a
                            title="Shows metadataapi.net profile page, if it exists" href="https://www.metadataapi.net/performer/{{ $ctrl.actorNameDelimiter('-',false) }}"
                            target="_blank">ThePornDB Page (metadataapi.net)</a>
                        </li>
						<br />
                        <li><b>STREAMING VIDEO SEARCHING</b></li>
                        <li><a title="Search Pornhub for streaming video clips with this actor" href="http://www.pornhub.com/pornstar/{{ $ctrl.actorNameDelimiter('-',false) }}"
                               target="_blank">Pornhub Page</a></li>

                        <li><a title="Search XVIDEOS for streaming video clips with this actor" href="http://www.xvideos.com/?k={{ $ctrl.actorNameDelimiter('.',false) }}"
                               target="_blank">XVIDEOS Page</a></li>
					    <br />
                        <li><b>TORRENT SEARCHING</b></li>
                        <li><a title="Search RarBG for torrents with this actor" href="https://unblockedrarbg.org/torrents.php?search=%22{{  $ctrl.actorNameDelimiter('+',false) }}%22&category=4"
                               target="_blank">RarBG Torrent Search</a></li>

                        <li><a title="Search Empornium for torrents with this actor"href="http://www.empornium.me/torrents.php?taglist={{  $ctrl.actorNameDelimiter('.',false) }}"
                               target="_blank">Empornium Torrent Search</a></li>

                        <li><a title="Search PornMD for information about this actor, videos and photos (assumes the actor is straight)"href="https://www.pornmd.com/straight/{{  $ctrl.actorNameDelimiter('+',false) }}"
                               target="_blank">PornMD info + Photo Search</a></li>
                        <br />

                        <li><b>PROFILE PICTURES ETC.</b></li>
                        <li><a title="Search QWant for photos of this actor (disable adult filter for better results)" href="https://qwant.com/?q={{$ctrl.actorNameDelimiter('%20',true)}}&t=images"
                               target="_blank">QWant Photo Search</a></li>


                        <li><a title="Search Google for photos of this actor" href="https://www.google.com/search?as_st=y&tbm=isch&as_q={{  $ctrl.actorNameDelimiter('&#43;',true) }}&as_epq=&as_oq=&as_eq=&cr=&as_sitesearch=&safe=images&tbs=isz:l,iar:t"
                               target="_blank">Google Photo Search</a></li>


                    </ul>

                </td>
            </tr>
        </table>


    </div>

</div>













